@import "nib"

VitaminC = #FF9900
route66 = #424242
steady = #E9E9E9
BC = #BCBCBC
Gameblue = #3299BB

.vita 
	background VitaminC
	width 20px
	height 20px
	display inline-block
.route
	background route66
	width 20px
	height 20px
	display inline-block
.steady
	background steady
	width 20px
	height 20px
	display inline-block
.bc 
	background BC
	width 20px
	height 20px
	display inline-block
.game 
	background Gameblue
	width 20px
	height 20px
	display inline-block