@import "nib"

VitaminC = #FF9900
route66 = #424242
steady = #E9E9E9
BC = #BCBCBC
Gameblue = #3299BB
@font-face {
	font-family: 'macs';
	src:url('../fonts/macs.eot?-3yhm04');
	src:url('../fonts/macs.eot?#iefix-3yhm04') format('embedded-opentype'),
		url('../fonts/macs.woff?-3yhm04') format('woff'),
		url('../fonts/macs.ttf?-3yhm04') format('truetype'),
		url('../fonts/macs.svg?-3yhm04#macs') format('svg');
	font-weight: normal;
	font-style: normal;
}

a
	color BC
	text-decoration none
	
a:link
	text-decoration none

body
	background steady
	color route66
	font-family 'Open-Sans', sans-serif
	font-size 16px
p
	text-align rigth
nav
	background Gameblue
	border-bottom solid 1px route66
	border-top solid 2px route66
	overflow hidden
	.menu
		height 40px
		line-height 40px
		margin 0
		overflow-x auto
		padding 0
		white-space nowrap

		&::-webkit-scrollbar
			display none
	
		li
			display inline-block
			a
				padding .67em 1em
				text-transform uppercase
				&:hover
					color route66
					background VitaminC
		
h3
	font-size 1.15em				

footer
	background Gameblue
	color BC
	overflow hidden
	position relative
	z-index: 1
ul 
	list-style none
.round
	border-radius 50%
	overflow hidden
.center
	text-align center
.margin
	margin 0 2em 0 2em
.fondo
	position relative
	text-align center
.avatar
	position absolute
	top: 10%;
	left: 26%;
	right: 25%;
	bottom: 20%;
.blog
	background route66
	border-radius 5px 
	margin .5em auto
	width 100px
	a
		padding 0 1.3em
		border-radius 5px
	&:hover
		background VitaminC
		color route66
.volver
	float rigth
	position absolute
	right 0
	top .3em
	display none
	top 92%
	z-index: 2
.vol 
	&:before
		color BC
		content: "\e600"
		font-family macs
		font-size 1.5em
		margin 0 .5em 0 0 
.Twitter
	&:before
		color route66
		content: "\e608"
		font-family macs
		font-size 3em
.Facebook
	&:before
		color route66
		content: "\e607"
		font-family macs
		font-size 3em
.Google
	&:before
		color route66
		content: "\e606"
		font-family macs
		font-size 3em
.Linkedin
	&:before
		color route66
		content: "\e60d"
		font-family macs
		font-size 3em
.Github
	&:before
		color route66
		content: "\e609"
		font-family macs
		font-size 3em
.contra
	padding 0
	li
		display inline-block
		padding .8em 1em
.padding-lista
	padding 0 0 0 20px

.lista-proyectos
	a
		color route66
	li
		padding .5em 0

#about 
#description
	border-bottom solid 1px route66

#formacion
#trabajos
#futuro
#tecnologies
	border-bottom solid 1px route66